*{
    background-color: #e8fffe;
}

.navigation{
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

li{
    display:inline-flex;
    justify-content: space-around;
    float: left;
}

li a {
    display: block;
    background-color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:white;
  }

li img{
    height: 40px;
    width: 40px;
}

  li a:hover {
    background-color: #111;
  }