*{
  margin:0px;
  border:0px;
  padding:0px;
}

body{
    background-color: #e8fffe;
}

/* Style for navbar */
.navigation{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:2vw;
}

navbar ul{
  margin:0px;
  border:0px;
  padding:10px;
  background-color: #fdb13d;
  list-style-type: none;
}

navbar li{
  float:left;
  background-color: transparent;

}

navbar li img{
  height: 5vw;
  width: 10vw;
  background-color: transparent;
}

navbar li a{
  background-color: transparent;
  color: #0c003b;
  text-decoration: none;
  font-size:2.5vw;
}

navbar li a:hover{
  text-decoration:underline;
}